/* General
---------------------------- */

// icons
@import "/assets/css/icons.scss";

// fonts
@import "/assets/css/fonts.scss";


#nammos {
  font-family: RubikLight!important;
  color: #22272E!important;
  background-color: #E5E5E5!important;
}

label, h1, h2, h3, h4, h5, h6, p, div, v-container {
  font-family: RubikLight;
  color: #22272E;
}

.btn-text {
  font-size: 25px!important;
}
.field-title {
  color: white;
  font-size: 30px!important;
  font-weight: 500;
}
.full-width {
  width: 100%;
}
.card {
  background-color: white;
  border-radius: 10px;
  height: 42px;
  width: 100%;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;

  padding: 8px 20px;
}

@keyframes moveFromCenterTop {
  from {
    opacity: 0;
    transform: translate(-50%, -200%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes moveFromTop {
  from {
    opacity: 0;
    transform: translateY(-200%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveFromBottom {
  from {
    opacity: 0;
    transform: translateY(200%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes moveFromRight {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes moveFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

//input type number arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes myAnimation{
  0%{
    opacity: 1;
    transform: rotateX(90deg);
  }
  50%{
    opacity: 0.5;
    transform: rotateX(0deg);
  }
  100%{
    display: none;
    opacity: 0;
    transform: rotateX(90deg);
  }
}

