/* General
---------------------------- */

// icons
@import "/assets/css/icons.scss";

// fonts
@import "/assets/css/fonts.scss";


#nammos {
  font-family: Amatica!important;
  color: #22272E!important;
  background-color: #E5E5E5;
}

label, h1, h2, h3, h4, h5, h6, p, div, v-container {
  font-family: Amatica;
  color: #22272E;
}

.btn-text {
  font-size: 25px!important;
}
.field-title {
  color: white;
  font-size: 30px!important;
  font-weight: 500;
}
.full-width {
  width: 100%;
}

